<div class="banner-home">
  <div class="banner-bg">
    <img src="assets/images/banner/homepage-banner.png" alt="">
  </div>

  <div class="banner-content">

    <app-header></app-header>

    <div class="banner-text">
      <h1>Art of local Hospitality</h1>
      <h3>Enjoy your Nile River view with many different options</h3>
      <button>Get Started</button>
      <div class="scrollDown">
        <img src="assets/images/banner/scroll-down.svg" alt="">
      </div>
    </div>

  </div>

  <div class="banner-social">

    <ul>
      <li><img src="assets/images/banner/social-1.svg" alt=""></li>
      <li><img src="assets/images/banner/social-2.svg" alt=""></li>
      <li><img src="assets/images/banner/social-3.svg" alt=""></li>
    </ul>
  </div>

  <div class="banner-cards container-custom">

    <div class="card-item">
      <img src="assets/images/banner/card-icon-1.svg" alt="">
      <div class="card-text">
        <p><span>6+</span>Cruises</p>
      </div>
    </div>

    <div class="card-item">
      <img src="assets/images/banner/card-icon-2.svg" alt="">
      <div class="card-text">
        <p><span>100+</span>Trips</p>
      </div>
    </div>

    <div class="card-item">
      <img src="assets/images/banner/card-icon-3.svg" alt="">
      <div class="card-text">
        <p><span>1000+</span>Customers</p>
      </div>
    </div>

  </div>

</div>

<section class="about-us">
  <div class="container-custom">
    <div class="description">
      <h4>About us</h4>
      <p>ASHRANDA name is inspired from the local Nubian language in southern Egypt, which is an unwritten language
        spoken
        by the people of the Nubia
        region in southern Egypt. The name ASHRANDA means in the Nubian language “the most beautiful girl in the world.”

        Logo is inspired from the shape of the anchor which used in the cruise ships and refers too to the sail and it
        gives too the shape of letter A which is
        the first letter of the name and repeated three times in the beginning, middle and end of the name.
        The color of the logo is Gold which is inspired of Nubia too. Nubia is known in the ancient Egyptian time as
        “The
        Land of Gold”.</p>
    </div>

    <div class="about-gallery">
      <div class="row">
        <div class="col-md-6 gallery-img">
          <img src="assets/images/home/about-gallery-1.png" alt="">
        </div>
        <div class="col-md-6 gallery-text second-text">
          <h4>Nile Cruises</h4>
          <p>
            The River Nile remains the lifeblood of the Egyptians centuries ago, where water, air, purity and the magic
            of its picturesque scenery nature, when you sit on the banks of the Nile, You lay off in another world, on a
            magical journey that takes you to between the two southern witches Luxor and Aswan. Nothing more beautiful
            than spending your vacation, on the quiet Blue Nile.
          </p>
          <a href="">View Details ></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 gallery-text">
          <h4>Dahabeyat</h4>
          <p>
            The River Nile remains the lifeblood of the Egyptians centuries ago, where water, air, purity and the magic
            of its picturesque scenery nature, when you sit on the banks of the Nile, You lay off in another world, on a
            magical journey that takes you to between the two southern witches Luxor and Aswan. Nothing more beautiful
            than spending your vacation, on the quiet Blue Nile.
          </p>
          <a href="">View Details ></a>
        </div>
        <div class="col-md-6 gallery-img">
          <img src="assets/images/home/about-gallery-2.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 gallery-img">
          <img src="assets/images/home/about-gallery-3.png" alt="">
        </div>
        <div class="col-md-6 gallery-text second-text">
          <h4>Botique Hotels</h4>
          <p>
            The River Nile remains the lifeblood of the Egyptians centuries ago, where water, air, purity and the magic
            of its picturesque scenery nature, when you sit on the banks of the Nile, You lay off in another world, on a
            magical journey that takes you to between the two southern witches Luxor and Aswan. Nothing more beautiful
            than spending your vacation, on the quiet Blue Nile.
          </p>
          <a href="">View Details ></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-partners">
  <div class="container-custom">
    <div class="header">
      <p>Our Partners</p>
    </div>
    <div class="icons-wrapper">
      <div class="icon-item">
        <img src="assets/images/home/our-partner-1.png" alt="">
      </div>
      <div class="icon-item">
        <img src="assets/images/home/our-partner-2.png" alt="">
      </div>
      <div class="icon-item">
        <img src="assets/images/home/our-partner-3.png" alt="">
      </div>
      <div class="icon-item">
        <img src="assets/images/home/our-partner-4.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="stay-touch">
  <div class="container-custom">
    <div class="content">
      <div class="description">
        <p class="title">Let's stay in touch</p>
        <p class="details">Get travel planning ideas, helpul tips, and stories from our visitors
          delivered right to your inbox.</p>
        <input type="email" name="email" id="email">
      </div>
      <div class="image">
        <div class="image-block">
          <img src="assets/images/home/cruise.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container-custom">
    <div class="social">
      <ul>
        <li><img src="assets/images/home/face-icon.png" alt=""></li>
        <li><img src="assets/images/home/instagram-icon.png" alt=""></li>
        <li><img src="assets/images/home/youtube-icon.png" alt=""></li>
      </ul>
    </div>

    <div class="logo">
      <img src="assets/images/home/footer-logo.png" alt="">
    </div>

    <div class="links">
      <ul>
        <li>Cruises</li>
        <li>Dahabeyat</li>
        <li>Botique Hotels</li>
        <li>Contact us</li>
      </ul>
    </div>
  </div>
  <div class="fixed-footer">
    <p>© 2020 all copyrights reserved to Ashranda.</p>
  </div>
  <div class="scroll-up">
    <img src="assets/images/home/scroll-up.svg" alt="">
  </div>
</section>
